# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/
.env/

# Distribution / packaging
dist/
build/
*.egg-info/

# Emulator debug logs
docker/firebase/*debug.log

tmp

.env